{% extends 'Comments/base.html' %}

{% load crispy_forms_tags %}
{% load static %}

{% block content %}
<style>
    .dark-mode{
        background-image: linear-gradient(118deg, #383686 0%, #13547A 98.85%);
        background-attachment: fixed;
    }
    .a-on-hover{
        color: red;
    }
</style>

    <br>
    {% if messages %}
            {% for i in messages %}
            <br>
            <div class="alert alert-secondary" role="alert">
                {{ i }}
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            </div>
            {% endfor %}
        {% endif %}


    {% if event  %}
        <div class="container-fluid">
            <div class="card mb-4 mx-5 entry">
                <div class="card-header">
                    <div class="row">
                        <div class="col" id="title"><p>{{event.eventName}}</p></div>
                        <a style="display: inline;padding-right: 2%;" href="{% url 'Comments:Comments' id=event.id %}">
                            <button type="button" class="btn btn-outline-secondary">Comment</button>
                        </a>
                    </div>
                </div>
                <div class="card-body">
                     
                     <!-- {% for j in commentsValue %}
                         
                         {% if j.event.eventName == event.eventName %}

                         
                         {% endif %}
                         
                         {% endfor %} -->
                         
                         <div id="comments">
     
                         </div>

                        <!-- {% for j in commentsValue %}
                        {% if j.event.eventName == event.eventName %}
                            <div class="card mb-4" style="width: auto;">
                                <div class="row">
                                    <div class="col">
                                        <p style="font-weight: bold;">{{j.name}}</p>
                                    </div>
                                    <div class="col">
                                        <a href="#" class="up" style="display: inline-block; float: right;padding-right: 5%;">UP</a>
                                        <a href="#" class="down" style="display: inline-block; float: right; padding-right: 5%;">DOWN</a>
                                    </div>
                                </div>
                                <p >{{ j.comment }}</p>
                            </div>
                        {% endif %}
                        {% endfor %} -->
                    
                </div>
            </div>
        </div>
        {% endif %}
        
        {% endblock %}

        
        {% block extrascript %}
        <script src="{% static 'js/comment.js' %}" defer></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="{% static 'js/ajax.js' %}" defer></script>
        {% endblock %}