{% extends 'Comments/base.html' %}

{% load crispy_forms_tags %}
{% load static %}

{% block content %}
    <style>
        .container{
            width: 100%;
        }
        .dark-mode{
        background-image: linear-gradient(118deg, #383686 0%, #13547A 98.85%);
        background-attachment: fixed;
        color: white;
        }
        .h3-dark{
            color: white;
        }
    </style>
    <body>
        <br>
        
        <div class="container">
            <h3 style="text-align: center;">You have Inputted <span id="span-num"> 0 </span> amount of words on the current text field</h3>
            <br>
            <form method="POST">
                {% csrf_token %}
                {{ form|crispy }}
                <input class="btn btn-light" type="submit" value="Submit" id="submit">
            </form> 
        </div>
    </body>
{% endblock %}

{% block extrascript %}
<script src="{% static 'js/comment.js' %}" defer></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="{% static 'js/createcomment.js' %}" defer></script>
{% endblock %}