{% extends 'baseMerch.html' %}

{% load crispy_forms_tags %}
{% load static %}



{% block tittle %}
<title>List-List Merchandise</title>
{% endblock %}

{% block content %}
<div class="banner">
    <h1 class ="ml2" >Merchandise</h1>
</div>
{% if event %}
{% if Merch_list.first == None %}
<div class="container">

  <div id="carouselExampleIndicators" class="carousel slide border border-dark" data-ride="carousel">
      <ol class="carousel-indicators">
      <li data-target="#carouselExampleIndicators" data-slide-to="1" class="active"></li>
      </ol>
      <div class="carousel-inner carousel_1">
          <div class="carousel-item active" id="slide 1">
              <img src="https://img.icons8.com/pastel-glyph/64/000000/image--v1.png" class="d-block img">
              <div class="carousel_text   ">
                  <h4>Belum tersedia</h4>
                  <p>Rp. 0,00</p>
                </div>
          </div>
      </div>
      <h5 class="space"></h5>
      <div>
        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a> 
      </div>
    </div>


{% else %}
<div class="container" >
  <div id="carouselExampleIndicators" class="carousel slide border border-dark" data-ride="carousel">
    <ol class="carousel-indicators">
        {% for j in Merch_list %}
      <li data-target="#carouselExampleIndicators" data-slide-to="[[forloop.counter}}" class="active"></li>
      {% endfor %}
    </ol>

    <div class="carousel-inner carousel_1" id="carouselbox">

    

  
  
</div>
<h5 class="space"></h5>
    <div>
      <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a> 
    </div>
</div>
{% endif %}
{% endif %}
{% if user.is_authenticated %}
<a href="{% url 'Merchandise:RegisterMerchAjax' id=event.id %}">
  <button type="button" class="btn btn-outline-secondary">Register Merchandise</button>
</a>
</div>
{% endif %}
{% endblock %}

{% block script%} 
<script  src="{% static 'js/srcipt.js' %}"></script>
<script>
$(document).ready(function(){
  var id = "{{ id }}"
  $.ajax({
    url:window.location.origin + "/Merch/ListMerch/json/" + id,
    dataType: "json",
    type: "GET",
    success:function(res){
      var carouselbox = $('#carouselbox')
      carouselbox.empty();
      console.log(res);
      
for(i=0;i<res['items'].length;i++){
  var picture = res['items'][i]['pic'];
  var name = res['items'][i]['name'];
  var price = res['items'][i]['price'];
  var active =""
  if(i+1==1)
  active="active";
  
var result =
      
      '<div class="carousel-item '+active +
      '" id="slide{{'+ i+' }}">'+
         ' <img src="'+picture+ '" class="d-block img">'
          +'<div class="carousel_text   ">'+
              '<h4>'+name+'</h4>'+
              '<p>'+price+'</p>'+
            '</div>'+
            '</div>'
;
      
      
  
  carouselbox.append(result);
}
    }
  })
})

</script>
{% endblock %}