{% extends 'baseMerch.html' %}

{% load crispy_forms_tags %}
{% load static %}


{% block tittle %}
 <title>Daftar Merchandise</title>
{% endblock %}

{% block content %}

<div class="banner">
  <h1 class ="ml2" >Merchandise</h1>
</div>
<div class="container">
  <form  method='POST' enctype='multipart/form-data'>
        {% csrf_token %}
        <div class = col-5>
            <div class="form-group">
                <label for="form_name">Nama Barang</label>
                {{form.name}}
              </div>
              <div class="form-group">
                <label for="form_Price">Harga Barang</label>
                {{form.Price}}
              </div>
              <div class="form-pic form-group border col-10">
                  <h1></h1>
                {{form.Picture}}
                <span id="capt">upload your image here!</span>
                <h6></h6>
              </div>
              <input class="btn btn-dark" type="submit" value="Submit">
        </div>
        
        
    </form>  
</div>



{% endblock %}

{% block script%} 
<script  src="{% static 'js/srcipt.js' %}"></script>
{% endblock %}



 


