{% extends 'baseMerch.html' %}

{% load crispy_forms_tags %}
{% load static %}


{% block tittle %}
 <title>Daftar Merchandise</title>
{% endblock %}

{% block content %}

<div class="banner">
  <h1 class ="ml2" >Merchandise</h1>
</div>
<div class="container">
  <form id="formUtama" method='POST' enctype='multipart/form-data'>
        {% csrf_token %}
        <div class = col-5>
            <div class="form-group" >
                <label for="div_id_name" class="requiredField">Nama Barang</label>
                <input type="text" name="name" maxlength="50" class="form-control" required="" id="id_name" placeholder="pensil">
              </div>
              <div class="form-group">
                <label for="div_id_price" class="requiredField">Harga Barang</label>
                <input type="text" name="Price" maxlength="50" class="form-control" required="" id="id_price" placeholder="RP 1.000.000,00">
              </div>
              <div class="form-pic  form-group border col-10">
                  <h1></h1>
                  <input type="file" name="Picture" accept="image/*" class="clearablefileinput form-control-file" required="" id="imageinput"> 
                <span id="capt">upload your image here!</span>
                <h6></h6>
              </div>
              <input class="btn btn-dark" type="submit" value="Submit">
        </div>
        
        
    </form>  
</div>



{% endblock %}

{% block script%} 
<script type="text/javascript">
$(document).on("submit", "#formUtama", function (e){
    e.preventDefault();
    var id = "{{ id }}"
    var formutama2 = document.getElementById("formUtama");
    var formData = new FormData(formutama2);
    $.ajax({
        type:'POST',
        url: window.location.origin + "/Merch/RegisterMerchAjax/" + id+"/",
        data: formData,
        success:function(){
            $('#formUtama').trigger('reset');
            window.location.replace("/Merch/ListMerch/" +id+'/');
        },
        cache:false,
        contentType:false,
        processData:false,
    })
})
</script>
<script  src="{% static 'js/srcipt.js' %}"></script>
{% endblock %}