@import url('https://fonts.googleapis.com/css2?family=Abel&family=Montserrat:wght@600&family=Mulish:wght@300;400;500;600&family=Open+Sans&family=Oswald:wght@200;300;400&display=swap');



@media only screen and (max-width: 389px) and (min-width: 259px){ 
.col{
    padding-top: 10%;
    text-align: center;
    align-items: center;
    padding-left: 30%;
}

.row{
    padding-top: 10%;
}

.col-sm{
    padding-bottom: 10%;
}

.col img{
    display: none;
}
}

@media only screen and (max-width: 500px) and (min-width: 390px){ 
    .col{
        padding-top: 10%;
        text-align: center;
        padding-left: 35%;
    }
    
    .row{
        padding-top: 10%;
    }
    
    .col-sm{
        padding-top: 10%;
        padding-bottom: 10%;
    }
    .col img{
        display: none;
    }
}

@media only screen and (max-width: 599px) and (min-width: 501px){ 
    .col{
    padding-top: 10%;
    padding-left: 35%;
    text-align: center;
    align-items: center;
    }

    .col-sm{
        padding-bottom: 10%;
        padding-top: 5%;
    }

    button{
        width: 100%;
    }
    .col img{
        display: none;
    }

}

@media only screen and (max-width: 899px) and (min-width: 600px){ 
    .col{
        text-align: center;
        padding-top: 10%;
    }
    .row{
        flex-direction: column;
    }
    .col img{
        display: none;
    }

    }


@media only screen and (max-width: 1025px) and (min-width: 900px){ 
.container{
    padding-top: 20%;
    padding-left: 5%;
    text-align: center;
}
h1{
    padding-top: 10%;
    padding-bottom: 10%;
}
.row{
    flex-direction: row;
}

}


@media only screen and (min-width: 1200px) {  }