{% extends 'RegisterEvent/base.html' %}

{% load crispy_forms_tags %}
{% load static %}

{% block content %}

<script src="{% static 'js/registerEvent.js' %}" defer></script>
<script src="{% static 'js/displayRegisterEvent.js' %}" defer></script>
<script>var id = "{{ id }}";</script>

<style>
    .dark-mode{
        background-image: linear-gradient(118deg, #383686 0%, #13547A 98.85%);
        background-attachment: fixed;
    }
    .a-on-hover{
        color: red;
    }
</style>

<body>
    <div class="container-fluid">
        <div class="card mb-4 mx-5 entry" id="target">
            <div class="card-header">
                <div class="row">
                    <div class="col" id="the-event"></div>
                </div>
            </div>
            <div class="card-body">
                <p>Registered: </p>
                <ul id="target-data">
                        
                </ul>
            </div>
        </div>
    </div>
</body>
{% endblock %}
