{% extends 'RegisterEvent/base.html' %}

{% load crispy_forms_tags %}
{% load static %}

{% block content %}
<script src="{% static 'js/registerEvent.js' %}" defer></script>
    <style>
        .container{
            width: 100%;
        }
        .dark-mode{
        background-image: linear-gradient(118deg, #383686 0%, #13547A 98.85%);
        background-attachment: fixed;
        color: white;
        }
        .h3-dark{
            color: white;
        }
    </style>
    <body>
        <div class="banner"></div>
        <div class="container">
            <b><p id="the-name">Glad to have you </p></b>
            <form method="POST" id="form">
                {% csrf_token %}
                {{ form|crispy }}
                <input class="btn btn-light" type="submit" value="Submit" id="submit">
            </form>
        </div>
    </body>

{% endblock %}