<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Main Page</title>
</head>
<body style="background-image: url(https://files.catbox.moe/qai26i.svg);background-position: center;background-repeat: no-repeat;background-size: cover; background-color: #FFE3B8;"> -->


{% extends 'base.html' %}
{% load static %}

{% block content %}
<style>
    body{
        background-image: linear-gradient(118deg, #80D0C7 0%, #13547A 98.85%);
        background-attachment: fixed;
    }
    .dark-mode {
        background-image: linear-gradient(118deg, #383686 0%, #13547A 98.85%);
        background-attachment: fixed;
    }
    .row{
        display: flex;
    }
    .col{
        text-align: center;
        width: 25%;
    }
    img{
        padding-bottom: 5%;
    }
</style> 

<link rel="stylesheet" href="{% static 'css/main.css' %}">
    
<body>
    <div class="container" style="height: auto; width: 100%;">
        <div class="container-fluid" style="text-align: center; padding-top: 10%;">
            <h1 style="font-size:6vh;font-family: montserrat; color: #ffffff;">Introduce Your Product <span><br></span> Quickly And Effectively</h1>
        </div>
        <div class="container-fluid" id="card" style="padding-top: 5%; width: 100%;">
            <div class="card" style="width: 100%; height: 100%;">
                <div class="card-body">
                    <div class="container">
                        <div class="row">
                            <div class="col">
                                <img src="https://files.catbox.moe/0j0ar9.png" alt="">
                                <p style="padding-bottom: 1%; font-family: Mulish; font-weight: bold;">Business Dev</p>
                                <p>Introduce your business to potential stakeholders during this pandemic</p>
                            </div>
                            <div class="col">
                                <img src="https://files.catbox.moe/j67vpz.png" alt="">
                                <p style="padding-bottom: 1%;font-family: Mulish; font-weight: bold">Marketing</p>
                                <p>Market your brand even further during the pandemic</p>
                            </div>
                            <div class="col">
                                <img src="https://files.catbox.moe/5uugdq.png" alt="">
                                <p style="padding-bottom: 1%;font-family: Mulish; font-weight: bold;">Improve Events</p>
                                <p>Continue events with ease during the pandemic</p>
                            </div>
                        </div>
                    </div>
                </div>
              </div>
        </div>
    </div>
</body> 

{% endblock %}