<script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
{% extends 'baseCreate.html' %}

{% load crispy_forms_tags %}
{% load static %}

{% block content %}
    <style>
        .container{
            width: 100%;
        }
        .banner{
            width: 100%;
            height: 20vh;
            background-color: #2D9CDB;
        }

    </style>
    <body>
        <div class="banner"></div>
        <div class="container ">
            <form method="POST" enctype='multipart/form-data' id="createForm">
                {% csrf_token %}
                {{ form|crispy }}
                <button type="button" class="tombol" id="submitBtn">Submit</button>
                <!-- <input type="submit" class="button-submit mx-auto" value="SUBMIT"> -->
            </form> 
            <div class="d-flex justify-content-center">
                <a role="button" class="button-create" href="{% url 'CreateEvent:ViewEvent' %}">VIEW </a>
            </div>
        </div>
        <!-- <script>
            $(function () {
              $("#id_date").datepicker({
                format:'dd/mm/yyyy',
              });
            });
          </script> -->
          <!-- <script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script> -->
          <script>
            // console.log("QONITA KEPO");    
                    var input = document.getElementById('imageinput');
                    var infoArea = document.getElementById('capt');
                    input.addEventListener('change', showFileName);
                    function showFileName(event) {
                        // the change event gives us the input it occurred in 
                        var input = event.srcElement;
                        
                        // the input has an array of files in the `files` property, each one has a name that you can use. We're just using the name here.
                        var fileName = input.files[0].name;
        
                        // use fileName however fits your app best, i.e. add it into a div
                        infoArea.textContent = fileName;
                    }
        
                   
                    $(document).ready(function() {
                        $("#submitBtn").click(function() {
                            $.ajax({
                                type: "POST",
                                url: "/CreateEvent/",
                                data: $("#createForm").serialize(),
                                success: function(response) {
                                    $("#imageinput").val("")
                                    $("#eventName").val("")
                                    $("#eventDate").val("")
                                    $("#tempat").val("")
                                    // $("#input-event").trigger("keyup");
                                }
                            });
                        });
                    })
                
                    $(function () {
                        console.log("ini date")
                      $("#id_date").datepicker({
                        format:'dd/mm/yyyy',
                      });
                    });
         </script>

      
    </body>
    
{% endblock %}
{% block script %}
 <!-- <script>
    console.log("QONITA KEPO");    
			var input = document.getElementById('imageinput');
			var infoArea = document.getElementById('capt');
			input.addEventListener('change', showFileName);
			function showFileName(event) {
				// the change event gives us the input it occurred in 
				var input = event.srcElement;
				
				// the input has an array of files in the `files` property, each one has a name that you can use. We're just using the name here.
				var fileName = input.files[0].name;

				// use fileName however fits your app best, i.e. add it into a div
				infoArea.textContent = fileName;
            }

            // console.log("psospsps");  
        
            // console.log("aappppppppppp");
            // $("#submitBtn").click(function() {
            //     console.log("aaaaaaaaaaaaaaaaaaa");
            //     $.ajax({
            //         type: "POST",
            //         url: "/CreateEvent/",
            //         data: $("#createForm").serialize(),
            //         success: function(response) {
            //             $("#input-event").trigger("keyup");
            //         }
            //     });
            // });
           
        
            // $(function () {
            //     console.log("ini date")
            //   $("#id_date").datepicker({
            //     format:'dd/mm/yyyy',
            //   });
            // });
 </script> -->
 
 <script>
   
                    var input = document.getElementById('imageinput');
                    var infoArea = document.getElementById('capt');
                    input.addEventListener('change', showFileName);
                    function showFileName(event) {
                        // the change event gives us the input it occurred in 
                        var input = event.srcElement;
                        
                        // the input has an array of files in the `files` property, each one has a name that you can use. We're just using the name here.
                        var fileName = input.files[0].name;
        
                        // use fileName however fits your app best, i.e. add it into a div
                        infoArea.textContent = fileName;
                    }
 </script>

{% endblock %} 
