{% extends "baseCreate.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}
  

    
   
    {% if events.first != None %}

    <div class="row justify-content-center ">
      <div id="middleSection" style="margin-bottom: 30px;">
        <div class="ui search">
            <div class="ui icon input">
                <input id="input-event" class="prompt" type="text" placeholder="Search Event">
                <i class="search icon"></i>
            </div>
            <div class="results"></div>
        </div>
    </div>

        <div id= "message">
        {% for event in events %}
        <div class="card mb-4 mx-5 entry" style="width: 18rem;">
            {% if  event.Picture %}
            <img src="{{event.Picture.url}}" class="card-img-top">
            {% endif %}
            <div class="card-body">
              <div class="row">
                <div class="col"> 
                  <h5 class="card-title">{{event.eventName}} </h5>
                </div>
                <div class="col"> 
                  <a href="{% url 'RegisterEvent:DisplayRegisterEvent' id=event.id %}">
                  <p style="text-align: right;">Attendees</p></a>
                </div>
              
              </div>
            
    
              <p class="card-text">{{ event.eventDate }}</p>
              <p class="card-text">{{ event.tempat }}</p>
              <p class="card-text">{{ event.description }}</p>
              <a href="{% url 'RegisterEvent:RegisterEvent' id=event.id %}">
                <button type="button" class="btn btn-outline-primary">Register</button>
             </a>
             <a href="{% url 'Comments:DisplayComments' id=event.id %}">
                <button type="button" class="btn btn-outline-secondary">Comments</button>
             </a>
             <a href="{% url 'Merchandise:ListMerch' id=event.id  %}">
                <p style="font-style: italic;font-size: small;">See Merchandises</p>
             </a>
             
            </div>
          </div>
          {% endfor %}
        </div>
   

    {% endif %}

  

   
       

    </div>

</div>

<script>
  $(function() {
      $('#input-event').keyup(function() {
          var keyword = $('#input-event').val();
          $.ajax({
              method: 'GET',
              url: 'getEvents/',
              dataType: 'json',
              success: function(data) {
                  $('#message').empty();
                  var html = '';
                  console.log("haiiiiiii")
                  if (data.length === 0) {
                      html += '<h3 class="txt-setting">We are sorry, there aren\'t any tips & trick.</h3>';
                      $('#message').append(html);
                  } else {
                      for (var i = 0; i < data.length; i++) {
                          if ((data[i]['eventName']).includes(keyword)) {
                              html += ' <div class="card mb-4 mx-5 entry" style="width: 18rem;">';
                              html = html + '<img>' + data[i]['Picture'] + '</img>';
                              html = html + '<h5>' + data[i]['eventName'] + '</h5>';
                              html = html + '<p>' + data[i]['description'] + '</p>';
                              html = html + '<p>' + data[i]['eventDate'] + '</p>';
                              html = html + '<p>' + data[i]['tempat'] + '</p>' + '</div>';
                          }
                      }
                      $('#message').append(html);
                      // console.log(data);
                  }
                  // console.log(data);
                  // console.log(data.length);
              }
          })
      })
  })
  
</script>


{% endblock content %}