
/* Small devices (landscape phones, 280px and up) */
@media only screen and (max-width: 389px) and (min-width: 259px){ 
    html{
        height: 100%;
    }
    
    *{
        border: 0;
    }
    .form-pic{
        background: url("../images/photo.png") center center no-repeat;
        background-size: 60px 60px;
        text-align: center;
    }
    
    .form-pic h1{
        height: 20px;
    }
    
    #imageinput{
        
        display: inline-block;
        
        width: 100%;
        padding: 40px 0 0 0;
        height: 40px;
        overflow: hidden;
        
      
    }
    
    .container{
        width: 100%;
        margin: 20px auto;
        align-content: center;
        align-items: center;
    }
    .banner{
        display: flex;
        width: 100%;
        height: 20vh;
        background-color: #2D9CDB;
        justify-content: center;
        align-items: center;
    }
    .banner.active{
        background-color: red;
    }
    .banner span{
        font-size: x-large;
        color: aliceblue;
    }
    
    .form-pic span{
        color: black;
        font-size: small;
        font-weight: bold;
    }
    .col-5{
        max-width: 85%;
    }
    .container ::-webkit-input-placeholder{
        font-size: smaller;
    }
    #carouselExampleIndicators{
        max-width: 100%;
        height: 100%;
    }

    .img{
        max-width: 100% ;
        width: auto;
        height: 225px;
        max-height: 225px;
    }
    .carousel-inner img {
        margin: auto;
      }

    .carousel_text {
        text-align: center;
        font-size: large;
        color:black;
    }
    .carousel-indicators .active{
        background-color: #2D9CDB;
    }
    .space{
        height: 10px;
    }

    .carousel-control-next-icon{
        background-color: #2D9CDB;
    }
    .carousel-control-prev-icon{
        background-color: #2D9CDB;
    }
  
    .dark-mode {
        background-image: linear-gradient(118deg, #383686 0%, #13547A 98.85%);
        background-attachment: fixed;
    }
    .ml2 {
        font-weight: 900;
        font-size: 2.5em;
        color: white;
      }
      
      .ml2 .letter {
        display: inline-block;
        line-height: 1em;
        color: white;
      }

}
/* Small devices (landscape phones, 576px and up) */
@media only screen and (min-width: 390px) and (max-width:575px) {  
    html{
    height: 100%;
}

*{
    border: 0;
}
.form-pic{
    background: url("../images/photo.png") center center no-repeat;
    background-size: 60px 60px;
    text-align: center;
}

.form-pic h1{
    height: 30px;
}

#imageinput{
    
    display: inline-block;
    
    width: 100%;
    padding: 60px 0 0 0;
    height: 60px;
    overflow: hidden;
    
  
}


.container{
    width: 100%;
    padding-top: 30px;
    margin: 20px 50px 20px 50px;
    align-content: center;
    align-items: center;
    padding: 0px 0px 0px 0px;
    

}
.banner{
    display: flex;
    width: 100%;
    height: 20vh;
    background-color: #2D9CDB;
    justify-content: center;
    align-items: center;
}

.banner.active{
    background-color: red;
}
.banner span{
    font-size: xx-large;
    color: aliceblue;
}

.form-pic span{
    color: black;
}
.col-5{
    max-width: 80%;
}

#carouselExampleIndicators{
    max-width: 85%;
    height: 100%;
}

.img{
    max-width: 100% ;
    width: auto;
    height: 225px;
    max-height: 225px;
}
.carousel-inner img {
    margin: auto;
  }

.carousel_text {
    text-align: center;
    font-size: large;
    color:black;
}
.carousel-indicators .active{
    background-color: #2D9CDB;
}
.space{
    height: 10px;
}

.carousel-control-next-icon{
    background-color: #2D9CDB;
}
.carousel-control-prev-icon{
    background-color: #2D9CDB;
}

.dark-mode {
    background-image: linear-gradient(118deg, #383686 0%, #13547A 98.85%);
    background-attachment: fixed;
}
.ml2 {
    font-weight: 900;
    font-size: 2.5em;
    color: white;
  }
  
  .ml2 .letter {
    display: inline-block;
    line-height: 1em;
    color: white;
  }
}

@media only screen and (min-width: 576px) and (max-width:767px) {  
    html{
        height: 100%;
    }
    
    *{
        border: 0;
    }
    .form-pic{
        background: url("../images/photo.png") center center no-repeat;
        background-size: 60px 60px;
        text-align: center;
    }
    
    .form-pic h1{
        height: 30px;
    }
    
    #imageinput{
        
        display: inline-block;
        
        width: 100%;
        padding: 60px 0 0 0;
        height: 60px;
        overflow: hidden;
        
      
    }
    
    
    
    
    .container{
        width: 100%;
        padding-top: 30px;
        margin: 20px 20px 20px 20px;
        align-content: center;
        align-items: center;
        padding: 0px 0px 0px 0px;
        
    
    }
    .banner{
        display: flex;
        width: 100%;
        height: 20vh;
        background-color: #2D9CDB;
        justify-content: center;
        align-items: center;
    }

    .banner.active{
        background-color: red;
    }
    .banner span{
        font-size: xx-large;
        color: aliceblue;
    }
    
    .form-pic span{
        color: black;
    }
    .col-5{
        max-width: 70%;
    }

    #carouselExampleIndicators{
        max-width: 85%;
        height: 100%;
        margin-left: 50px;
    }

    .img{
        width: auto;
        height: 225px;
        max-height: 225px;
    }
    .carousel-inner img {
        margin: auto;
      }

    .carousel_text {
        text-align: center;
        font-size: x-large;
        color:black;
    }
    .carousel-indicators .active{
        background-color: #2D9CDB;
    }
    .space{
        height: 10px;
    }
    .carousel-control-next-icon{
        background-color: #2D9CDB;
    }
    .carousel-control-prev-icon{
        background-color: #2D9CDB;
    }
   
    .dark-mode {
        background-image: linear-gradient(118deg, #383686 0%, #13547A 98.85%);
        background-attachment: fixed;
    }
    .ml2 {
        font-weight: 900;
        font-size: 3.5em;
        color: white;
      }
      
      .ml2 .letter {
        display: inline-block;
        line-height: 1em;
        color: white;
      }
}
/* Medium devices (tablets, 768px and up) */
@media only screen and (min-width: 768px) and (max-width: 991px) {  
    html{
        height: 100%;
    }
    
    *{
        border: 0;
    }
    .form-pic{
        background: url("../images/photo.png") center center no-repeat;
        background-size: 60px 60px;
        text-align: center;
    }
    
    .form-pic h1{
        height: 30px;
    }
    
    #imageinput{
        
        display: inline-block;
        
        width: 100%;
        padding: 60px 0 0 0;
        height: 60px;
        overflow: hidden;
        
      
    }
    
    
    
    
    .container{
        width: 100%;
        padding-top: 30px;
        margin: 20px auto;
        align-content: center;
        align-items: center;
    }

    .banner.active{
        background-color: red;
    }
    .banner{
        display: flex;
        width: 100%;
        height: 20vh;
        background-color: #2D9CDB;
        justify-content: center;
        align-items: center;
    }
    .banner span{
        font-size: xx-large;
        color: aliceblue;
    }
    
    .form-pic span{
        color: black;
    }

    #carouselExampleIndicators{
        max-width: 100%;
        height: 100%;
    }

    .img{
        width: auto;
        height: 225px;
        max-height: 225px;
    }
    .carousel-inner img {
        margin: auto;
      }

    .carousel_text {
        text-align: center;
        font-size: x-large;
        color:black;
    }
    .carousel-indicators .active{
        background-color: #2D9CDB;
    }
    .space{
        height: 10px;
    }
    .carousel-control-next-icon{
        background-color: #2D9CDB;
    }
    .carousel-control-prev-icon{
        background-color: #2D9CDB;
    }
   
    .dark-mode {
        background-image: linear-gradient(118deg, #383686 0%, #13547A 98.85%);
        background-attachment: fixed;
    }
    .ml2 {
        font-weight: 900;
        font-size: 3.5em;
        color: white;
      }
      
      .ml2 .letter {
        display: inline-block;
        line-height: 1em;
        color: white;
      }
}
 



/* Large devices (desktops, 992px and up) */
@media only screen and (min-width: 992px) {  
    html{
        height: 100%;
    }
    
    *{
        border: 0;
    }
    .form-pic{
        background: url("../images/photo.png") center center no-repeat;
        background-size: 60px 60px;
        text-align: center;
    }
    
    .form-pic h1{
        height: 30px;
    }
    
    #imageinput{
        
        display: inline-block;
        
        width: 100%;
        padding: 60px 0 0 0;
        height: 60px;
        overflow: hidden;
        
      
    }
    
    
    
    
    .container{
        width: 100%;
        padding-top: 30px;
        margin: 20px auto;
        align-content: center;
        align-items: center;
    }
    .banner{
        display: flex;
        width: 100%;
        height: 20vh;
        background-color: #2D9CDB;
        justify-content: center;
        align-items: center;
    }
    .banner.active{
        background-color: red;
    }
    .banner span{
        font-size: xx-large;
        color: aliceblue;
    }
    .ml2 {
        font-weight: 900;
        font-size: 3.5em;
        color: white;
      }
      
      .ml2 .letter {
        display: inline-block;
        line-height: 1em;
        color: white;
      }
    
    .form-pic span{
        color: black;
    }
   
    #carouselExampleIndicators{
        max-width: 100%;
        height: 100%;
    }

    .img{
        width: auto;
        height: 225px;
        max-height: 225px;
    }
    .carousel-inner img {
        margin: auto;
      }

    .carousel_text {
        text-align: center;
        font-size: x-large;
        color:black;
    }
    .carousel-indicators .active{
        background-color: #2D9CDB;
    }
    .space{
        height: 10px;
    }
    .carousel-control-next-icon{
        background-color: #2D9CDB;
    }
    .carousel-control-prev-icon{
        background-color: #2D9CDB;
    }
  
    .dark-mode {
        background-image: linear-gradient(118deg, #383686 0%, #13547A 98.85%);
        background-attachment: fixed;
    }
    .dark-mode .banner{
        background-color: #2391aa30;
    }

}

/* Extra large devices (large desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {  }